
.clock{
    margin: auto;
    background-color: cadetblue;
    border-radius: 5px;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg{
   position: relative;
   height: 400px;
   width: 400px;
   justify-content: center;
   align-items: center;
   display: flex;
   background-color: ivory;
   border-radius: 50%;
}
/* mat so dong ho */
.numbers{
    width: 90%;
}
/* kim giay */
.kim-s{
    position: absolute;
    z-index: 4;
    height: 300px;
    width: 5px;
    border-radius: 4px;
    animation: kimS 60s linear 0s infinite;
    transition: all;
}
.s{
    background-color: red;
    height: 180px;
    width: 5px;
}

/* kim phut */
.kim-m{
    position: absolute;
    height: 330px;
    width: 10px;
    z-index: 3;
    border-radius: 4px;
    animation: kimS 3600s linear 0s infinite;
    transition: all;
}
.m{
    background-color:silver;
    height: 175px;
    border-radius: 4px;
    
}

/* kim gio */
.kim-h{
    position: absolute;
    height: 260px;
    width: 20px;
    z-index: 2;
    border-radius: 4px;
    animation: kimS 43200s linear 0s infinite;
    transition: all;
}
.h{
    background-color: black;
    height: 140px;
    border-radius: 4px;
}

.tam{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: sienna;
    z-index: 5;
    border-radius: 50px;
}

@keyframes kimS{
    0%{
       transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

h2{
    display: flex;
    justify-content: center;
}