* , h1,h2,h3,h4,h5,h6{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size:62.5%; /* tương đương 10px = 1rem */
    line-height: 1.5;/* tương đương 16px */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a, a:hover{
    text-decoration: none;
}
.clr{
    clear: both;
}
ul li{
    list-style:none;
    padding-left: 0;
}

