* {
    margin: 0;
    padding: 0;
}

.container {
    height: 400px;
    width: 400px;
    background-color: darkgrey;
    position: relative;
    margin: 20px;
    display: flex;
    justify-items: center;
}

.circle {
    display: inline-block;
    margin: auto;
    padding: 60px;
    background-color: white;
    height: 250px;
    width: 250px;
    border: 4px solid darkgrey;
    border-radius: 50%;
}

.circle.custom-clock {
    position: absolute;
    z-index: 1;
    height: 250px;
    width: 250px;
}

.center {
    background-color: black;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}

.kim-gio {
    width: 8px;
    height: 75px;
    background-color: green;
    transform-origin: bottom center;
    position: absolute;
    top: 124px;
    left: 195px;
    z-index: 2;
    transform: rotate(360deg);
    animation: hourMove 216000s linear infinite;
}

@keyframes hourMove {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(450deg);
    }
}

.kim-phut {
    width: 6px;
    height: 87px;
    background-color: black;
    transform-origin: bottom center;
    position: absolute;
    top: 113px;
    left: 197px;
    z-index: 3;
    transform: rotate(360deg);
    animation: minuteMove 3600s linear infinite;
}

@keyframes minuteMove {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

.kim-giay {
    width: 4px;
    height: 100px;
    background-color: red;
    transform-origin: bottom center;
    position: absolute;
    top: 100px;
    left: 198px;
    z-index: 4;
    transform: rotate(360deg);
    animation: secMove 60s linear infinite;
}

@keyframes secMove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}