body {
    background: whitesmoke;
     color: whitesmoke;
   }
   
   #clock {
      background-color: grey;
      margin-top: 10%;
      margin-left: 25%;
      padding-top: 10%;
      font-size: 90px;
      width: 800px;
      height: 200px;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
   }