.errorAnimate{
    animation: errorForm 1s ease-in 0s i;
    transition: all;
}

@keyframes errorForm{
    0%{
        left:  0;
    };
    30%{
        left:  3px;
    };
    60%{
        left:  -3px;
    };
    100%{
        left:  0;
    }
}