@media all and (max-width: 480px) {
.body{
    margin: 0;
    padding: 0;
}
.container-1{
    background-color: blue;
    display: flex;
    color: white;
    height: 50px;
}
.nav-1{
    display: flex;
}
.p-2{
    position: relative;
    left: 900px;
    font-size: 17px;
}
.logo{
    position: relative;
    left: 130px;
    top: 13px;
}
.img-1{
    background-image:url(Img/Banner.jpg);
    height: 698px; 
}

#row-1-1{
    border: solid turquoise;
    height: 5px;
    width: 45px;
    position: relative;
    left: -50px;
    top: 12px;
    
}
#row-1-2{
    color: orange;
}
#row-1-3{
    font-size: 23px;
}
#row-1-4{
    font-size: 20px;
}
.img-2{
    width: 450px;
    height: 300px;
    position: absolute;
    top: 10px;
}
.img-3{
    display: flex;
}
#img-3-2{
    position: relative;
    width: 5px;
    height: 15px;
    top: 50px;
    left: -25px;
}
#img-3-4{
    position: relative;
    width: 5px;
    height: 15px;
    top: 150px;
    left: -635px;
    
}
 
}
@media all and (min-width: 1280px){
    .body{
        margin: 0;
        padding: 0;
    }
    .container-1{
        background-color: blue;
        display: flex;
        color: white;
        height: 50px;
    }
    .nav-1{
        display: flex;
    }
    .p-2{
        position: relative;
        left: 900px;
        font-size: 17px;
    }
    .logo{
        position: relative;
        left: 130px;
        top: 13px;
    }
    .img-1{
        background-image:url(Img/Banner.jpg);
        height: 698px; 
    }
    
    #row-1-1{
        border: solid turquoise;
        height: 5px;
        width: 45px;
        position: relative;
        left: -50px;
        top: 12px;
        
    }
    #row-1-2{
        color: orange;
    }
    #row-1-3{
        font-size: 23px;
    }
    #row-1-4{
        font-size: 20px;
    }
    .img-2{
        width: 450px;
        height: 300px;
        position: absolute;
        top: 10px;
    }
    .img-3{
        display: flex;
    }
    #img-3-2{
        position: relative;
        width: 5px;
        height: 15px;
        top: 50px;
        left: -25px;
    }
    #img-3-4{
        position: relative;
        width: 5px;
        height: 15px;
        top: 150px;
        left: -635px;
        
    }
}
